---
title: "Home"
layout: home
author_profile: true
permalink: /
date: 2023-01-29T11:48:41-04:00
---

<p>Ich bin stellvertretender Leiter der <a href="https://stadtbibliothek.leipzig.de">Leipziger Städtischen Bibliotheken</a> und leite dort die Abteilung Zentrale Bibliotheksdienste.</p>

<p>Mehr über meine Ausbildung und vorherigen beruflichen Stationen finden Sie auf meinem <a href="https://www.linkedin.com/in/awndlr/">Linkedin-Profil</a>.</p>

<h1>letzte Blogbeiträge</h1>

{% for post in site.posts limit:3 -%}
  {% unless post.hidden -%}
    {% include archive-single.html %}
  {% endunless -%}
{% endfor -%}

</ul>